chromedriver
.env
.DS_Store
locations.csv
cookies.txt

*.jpg
*.png
*.pth
*.csv
*.html

__pycache__
wandb*

!train.csv
!test.csv
!val.csv

!anUrbanWorld.csv
!anOfficialWorld.csv
!aCommunityWorld.csv
!world.csv

.vscode